<a href="https://colab.research.google.com/github/salmankhani-sk/FullStack-and-AICourse/blob/main/FoundationOfPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Python Basics: Variables & Data Types

In Python, **variables** are used to store data. Think of them as **containers** that hold information which you can use and manipulate later.

In [ ]:
name = "ali"
rollno = 12
gpa = 3.2
isgraduated = True

In [ ]:
print(name)

ali

In [ ]:
print("Hello world")

Hello world

In [ ]:
name = input("enter your name")
print("hello",name)

enter your namesalman
hello salman

In [ ]:
age = int(input("enter your age"))
print("your age is",age)
nationality = "pak"
if  nationality != "pak":
    print("you are eligible")
else:
    print("you are not eligible")

enter your age17
your age is 17
you are eligible

# Operators in Python

Operators are special symbols in Python used to **perform operations on values or variables**.

---

##  Arithmetic Operators

Used to perform basic mathematical operations.
##  Arithmetic Operator Summary

| Operator | Description        | Example     | Result   |
|----------|--------------------|-------------|----------|
| `+`      | Addition            | `2 + 3`     | `5`      |
| `-`      | Subtraction         | `5 - 2`     | `3`      |
| `*`      | Multiplication      | `4 * 3`     | `12`     |
| `/`      | Division (float)    | `10 / 4`    | `2.5`    |
| `//`     | Floor Division      | `10 // 4`   | `2`      |
| `%`      | Modulus (remainder)| `10 % 3`    | `1`      |
| `**`     | Exponent (power)    | `2 ** 3`    | `8`      |

##  Comparison Operators

Used to **compare two values**. The result is always a `bool` (True or False).

##  Comparison Operator Summary

| Operator | Meaning              | Example   | Result   |
|----------|----------------------|-----------|----------|
| `==`     | Equal to             | `5 == 5`  | `True`   |
| `!=`     | Not equal to         | `5 != 3`  | `True`   |
| `>`      | Greater than         | `5 > 2`   | `True`   |
| `<`      | Less than            | `3 < 4`   | `True`   |
| `>=`     | Greater than or equal| `5 >= 5`  | `True`   |
| `<=`     | Less than or equal   | `3 <= 2`  | `False`  |

##  Logical Operators

Used to combine conditional statements.

| Operator | Description                        | Example                     |
|----------|------------------------------------|-----------------------------|
| `and`    | True if both conditions are true   | `True and True → True`     |
| `or`     | True if at least one is true       | `True or False → True`     |
| `not`    | Reverses the result (True ↔ False) | `not True → False`         |

In [ ]:
age = 101
if age >= 18 and age < 100:
  print("You can vote")
else:
  print("You are not eligible")

You are not eligible

#  Python Data Types: Primitive vs Non-Primitive

In Python, data types are divided into two main categories:

---

##  Primitive Data Types

Used to **store a single value** at a time.

| Type    | Example              | Description                   |
|---------|----------------------|-------------------------------|
| `int`   | `10`, `-4`, `0`      | Whole numbers                 |
| `float` | `3.14`, `-0.5`       | Decimal (floating point)      |
| `str`   | `"admin@7&1232"`     | Text or string                |
| `bool`  | `True`, `False`      | Boolean (Yes/No, On/Off)      |

## Non-Primitive Data Types

Used to **store multiple values** together in a single variable.

---

### 🔹 `list` → Ordered, Mutable

A list can store multiple items and can be changed.

```python
fruit = ["apple", "banana", "orange"]
print(fruit[0])  # Output: apple
```

### 🔹 `tuple` → Ordered, Immutable

A tuple is like a list, but **cannot be changed** once created.

```python
colors = ("red", "blue", "black")
```
### 🔹 `set` → Unordered, Unique Items Only

A set does **not allow duplicates** and has **no specific order**.

```python
nums = {1, 2, 5, 3, 9, 6, 2}  # '2' is repeated

```
### 🔹 `dict` → Key-Value Pairs

A dictionary stores data in the form of **key: value**.

```python
student = {"name": "Ali", "rollno": 205}
```
## Summary Table

| Type    | Ordered | Mutable | Duplicate Allowed | Example                      |
|---------|---------|---------|-------------------|------------------------------|
| `list`  | ✅      | ✅      | ✅                | `["apple", "banana"]`        |
| `tuple` | ✅      | ❌      | ✅                | `("red", "blue")`            |
| `set`   | ❌      | ✅      | ❌                | `{1, 2, 3}`                  |
| `dict`  | ✅      | ✅      | ❌ (keys)         | `{"name": "Ali"}`            |

In [ ]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [ ]:
li[4] = 10
print(li)

[1, 2, 3, 4, 10]

In [ ]:
li.append(20)
print(li)

[1, 2, 3, 4, 10, 20]

In [ ]:
tp = (2,4,667,34,2)
print(tp)

(2, 4, 667, 34, 2)

In [ ]:
tp[0] = 10
print(tp)

TypeError: 'tuple' object does not support item assignment

In [ ]:
st = {1 , 3, 5, 7, 3,9,4,7}
print(st)

{1, 3, 4, 5, 7, 9}

In [ ]:
dict1 = {"name":"ali","rollno":205}
print(dict1["rollno"])

205

In [ ]:
dict1 ={"001agr2021":{"name":"ali","rollno":205},
       "002agr2021":{"name":"salman","rollno":204,"GPA":3.13}}

print(dict1["002agr2021"])

{'name': 'salman', 'rollno': 204, 'GPA': 3.13}

In [ ]:
colors = ["red","green","blue","black"]
for i in colors:
  print(i)

red
green
blue
black

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

# Loops in Python

Loops are used to **repeat a block of code** multiple times.

---

##  Why Use Loops?

- To **avoid repeating code manually**
- To **automate repetitive tasks**
- To **work with sequences (lists, strings, etc.)**

---

##  Types of Loops in Python

| Loop Type | Use Case                                  | Example                |
|-----------|-------------------------------------------|------------------------|
| `for`     | When you **know** how many times to repeat| `for i in range(...)` |
| `while`   | When you **don't know** how many times    | `while condition:`    |

##  for loop

Used when you **know ahead of time** how many times the loop should run.

```python
for i in range(1, 5):
    print("Hello", i)
```
## while loop

Used when you want to **keep looping as long as a condition is true**.

```python
count = 1
while count <= 3:
    print("Welcome", count)
    count += 1
```
##  Infinite Loop Warning

If the condition in a `while` loop is **always True**, the loop will never stop!

```python
#  This will keep running forever!
# while True:
#     print("This is an infinite loop")

```

In [ ]:
for i in range(10):
  print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [ ]:
count = 1
while count <= 10:
  print(count,"Hello world")
  count = count + 1

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world

In [ ]:
pas = input("Enter your password")
while pas != "admin123":
  print("Incorrect password")
  pas = input("Enter your password")
print("Correct password")

Enter your passwordsalman
Incorrect password
Enter your passwordadmin
Incorrect password
Enter your passwordadmin123
Correct password

In [ ]:
attem = 0
while attem < 3:
  pas = input("Enter your password")
  if pas == "admin123":
    print("Correct password")
    break
  else:
    print("Incorrect password")
    attem = attem + 1

Enter your passwordadm
Incorrect password
Enter your passwordth
Incorrect password
Enter your passwordhr
Incorrect password

In [ ]:
age = 20
if age >= 18:
  print("You are eligible")
else:
  print("You are not eligible")

You are eligible

In [ ]:
marks = int(input("Enter Your marks"))
if marks >= 60:
  print("Grade C")
elif marks >= 70:
  print("Grade B")
elif marks >= 80:
  print("Grade A")
elif marks >= 50:
  print("Grade D")
else :
  print("Grade: Fail")

Enter Your marks90
Grade C

In [ ]:
username = input("Enter your username")
password = input("Enter your password")
if username == "admin" and password == "admin123":
  print("Login successful")
else:
  print("Login failed")

Enter your usernameadmin
Enter your passwordadmin123
Login successful

In [ ]:
for i in range(1,11):
  print("2 ",i,"=",i*2)

2  1 = 2
2  2 = 4
2  3 = 6
2  4 = 8
2  5 = 10
2  6 = 12
2  7 = 14
2  8 = 16
2  9 = 18
2  10 = 20

In [ ]:
table = int(input("Enter the table u want to print"))
count = int(input("Enter the count"))
for i in range(1,count+1):
  print(f"{table} X {i} = " , i*table)

Enter the table u want to print10
Enter the count20
10 X 1 =  10
10 X 2 =  20
10 X 3 =  30
10 X 4 =  40
10 X 5 =  50
10 X 6 =  60
10 X 7 =  70
10 X 8 =  80
10 X 9 =  90
10 X 10 =  100
10 X 11 =  110
10 X 12 =  120
10 X 13 =  130
10 X 14 =  140
10 X 15 =  150
10 X 16 =  160
10 X 17 =  170
10 X 18 =  180
10 X 19 =  190
10 X 20 =  200

# Python Functions

A **function** is a **reusable block of code** that performs a **specific task**.

---

##  Why Use Functions?

- To **reuse code** (Don't repeat yourself!)
- To **organize** code into readable parts
- To **make your programs easier to manage**

##  Defining a Function

Use the `def` keyword to define a function:

```python
def function_name():
    print("Hello, this is a function!")
```
##  Function Summary

| Keyword | Purpose                 |
|---------|-------------------------|
| `def`   | Used to define a function |
| `()`    | Call or define parameters |
| `:`     | Starts the function block |

##  Parameters in Functions

You can pass data to functions using **parameters**.

```python
def greeting(name):
    print(f"Hello, {name}!")
```
## Multiple Parameters

You can pass more than one parameter:

```python
def full_name(first, last):
    print(f"Welcome, {first} {last}!")
```

In [ ]:
def hello():
  print("Hello world")
hello()
hello()
hello()

Hello world
Hello world
Hello world

In [ ]:
def greeting(name="guest"):
  print(f"Welcome to our event {name}")
greeting("tom")
greeting("john")
greeting()

Welcome to our event tom
Welcome to our event john
Welcome to our event guest

In [ ]:
def add(num1,num2):
  return num1 + num2
def sub(num1,num2):
  return num1 - num2
def mul(num1,num2):
  return num1 * num2
def div(num1,num2):
  return num1 / num2
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
print(add(num1,num2))
print(sub(num1,num2))
print(mul(num1,num2))
print(div(num1,num2))

Enter first number10
Enter second number5
15
5
50
2.0

# Exception Handling in Python

An **exception** is a **runtime error** that **stops your program** if it is not handled.

---

##  Why Handle Exceptions?

- Prevent program from **crashing**
- Show **user-friendly messages**
- Handle unexpected inputs or situations

##  Example of an Exception

```python
# This will cause an error if y = 0
x = 10
y = 0
print(x / y)
```
##  Try-Except Block

Use `try` and `except` to handle exceptions:

```python
try:
    # risky code here
except:
    # code to run if there's an error
```
##  Specific Exception Types

You can catch specific errors like this:

```python
try:
    num = int("abc")
except ValueError:
    print(" Please enter a valid number.")
```
## finally Block

The `finally` block is **always executed** whether there's an error or not.

```python
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero.")

  ```
##  Common Exception Types

| Exception         | Description                        |
|------------------|------------------------------------|
| `ZeroDivisionError` | Dividing a number by zero       |
| `ValueError`      | Invalid value passed (e.g., text as int) |
| `TypeError`       | Wrong data type used              |
| `IndexError`      | Accessing a list item out of range |

In [ ]:
num = 10
result = 1000 / 0
print(result)

ZeroDivisionError: division by zero

In [ ]:
try :
  num = int(input("Enter a number1: "))
  num2 = int(input("Enter a number2: "))
  result = num / num2
  print(result)
except ZeroDivisionError:
  print("Munga Zero bande nashoo divide kole")

Enter a number1: 10
Enter a number2: salman

ValueError: invalid literal for int() with base 10: 'salman'

In [ ]:
try :
  num = int(input("Enter a number1: "))
  num2 = int(input("Enter a number2: "))
  result = num / num2
  print(result)
except ZeroDivisionError:
  print("Munga Zero bande nashoo divide kole")
except ValueError:
  print("Please enter an integer/number")

Enter a number1: 1000
Enter a number2: 0
Munga Zero bande nashoo divide kole