<a href="https://colab.research.google.com/github/salmankhani-sk/FullStack-and-AICourse/blob/main/Phase1/python/Buil_inFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Built-in Functions in Python

## What are Built-in Functions?

Built-in functions are **predefined functions** provided by Python. You can use them **without importing any library**. These functions help you perform common tasks like:

- Type conversion
- Math operations
- Working with data structures
- Input/output operations

---

##  Common Built-in Functions

| Function      | Description                                 |
|---------------|---------------------------------------------|
| `print()`     | Displays output on the screen               |
| `input()`     | Takes user input                            |
| `len()`       | Returns the length of an object             |
| `type()`      | Returns the data type of a value            |
| `int()`       | Converts value to integer                   |
| `float()`     | Converts value to float                     |
| `str()`       | Converts value to string                    |
| `list()`      | Converts to a list                          |
| `dict()`      | Creates a dictionary                        |
| `sum()`       | Adds all values in an iterable              |
| `max()`       | Returns the maximum value                   |
| `min()`       | Returns the minimum value                   |
| `sorted()`    | Returns a sorted list                       |
| `range()`     | Generates a sequence of numbers             |
| `abs()`       | Returns absolute value                      |
| `round()`     | Rounds a number                             |
| `zip()`       | Combines multiple iterables into tuples     |
| `enumerate()` | Returns index and value pairs from iterable |

---

##  Example

```python
numbers = [10, 20, 30]
print("Total:", sum(numbers))       # Output: Total: 60
print("Max:", max(numbers))         # Output: Max: 30
print("Length:", len(numbers))      # Output: Length: 3

# Build in function of int()

In [ ]:
x = "123"
x = int(x)

#  type() Function in Python

##  What is `type()`?

The `type()` function in Python is a built-in function used to **check the data type** of any variable or value.

---

##  Syntax

```python
type(variable_name)

In [1]:
a = 5
b = "Hello"
c = 3.14
d = True
e = [1, 2, 3]

print(type(a))  # <class 'int'>
print(type(b))  # <class 'str'>
print(type(c))  # <class 'float'>
print(type(d))  # <class 'bool'>
print(type(e))  # <class 'list'>

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
y = "salman"
y = int(y)
print(y)

ValueError: invalid literal for int() with base 10: 'salman'

In [ ]:
y = "12.5"
y = float(y)
print(type(y))

<class 'float'>

In [ ]:
z = 1234
z = str(z)
print(type(z))

<class 'str'>

In [ ]:
name = "Tayyaba"
print(len(name))

7

In [ ]:
names = ["urooj","tayyaba","salman"]
print(len(names))

3

In [ ]:
x = "hello"
print(list(x))

['h', 'e', 'l', 'l', 'o']

In [ ]:
name = "Salman Khan"
print(list(name))

['S', 'a', 'l', 'm', 'a', 'n', ' ', 'K', 'h', 'a', 'n']

In [ ]:
nums = [2,3,5,2,3]
print(nums)

[2, 3, 5, 2, 3]

In [ ]:
nums = set(nums)
print(nums)

{2, 3, 5}

Syntax

In [ ]:
color = ["red", "green", "blue", "black"]
for salman in color:
  print(salman)

red
green
blue
black

In [ ]:
for x in range(1,11):
  print("Hello world")
  z= "Ihtesham alam"
  y = "Rayyan"
  print(x)
  print(f"{z} and {y} are classmates")

Hello world
1
Ihtesham alam and Rayyan are classmates
Hello world
2
Ihtesham alam and Rayyan are classmates
Hello world
3
Ihtesham alam and Rayyan are classmates
Hello world
4
Ihtesham alam and Rayyan are classmates
Hello world
5
Ihtesham alam and Rayyan are classmates
Hello world
6
Ihtesham alam and Rayyan are classmates
Hello world
7
Ihtesham alam and Rayyan are classmates
Hello world
8
Ihtesham alam and Rayyan are classmates
Hello world
9
Ihtesham alam and Rayyan are classmates
Hello world
10
Ihtesham alam and Rayyan are classmates

In [ ]:
salman = "Salman Khan"
for i in range(10):
  print(salman)

Salman Khan
Salman Khan
Salman Khan
Salman Khan
Salman Khan
Salman Khan
Salman Khan
Salman Khan
Salman Khan
Salman Khan

In [ ]:
name = "Ihtesham"
name2 = "rayyan"
for i in range(5):
  print(f"Today {name} and {name2} are attending class")

Today Ihtesham and rayyan are attending class
Today Ihtesham and rayyan are attending class
Today Ihtesham and rayyan are attending class
Today Ihtesham and rayyan are attending class
Today Ihtesham and rayyan are attending class

In [ ]:
for i in range(1,)

range(1, 5)

In [ ]:
li = [1,2,3,4]
for i in li:
  print("Hello world")

Hello world
Hello world
Hello world
Hello world

In [ ]:
for i in range(1,11):
  print("2 X ",i," = ",i*2)

2 X  1  =  2
2 X  2  =  4
2 X  3  =  6
2 X  4  =  8
2 X  5  =  10
2 X  6  =  12
2 X  7  =  14
2 X  8  =  16
2 X  9  =  18
2 X  10  =  20

In [ ]:
for i in range(1,11):
  print(f"2 X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

#  What is `map()` in Python?

##  Purpose
The `map()` function is used to **apply a function to every item** in an iterable like a **list**, **tuple**, or **set**, and returns a new **map object** (which can be converted into a list, etc.).

It's perfect for **clean and efficient looping** when you want to apply the **same function** to multiple items.

---

##  Syntax

```python
map(function, iterable)

In [ ]:
def add_five(x):
  return x+5
num = [2,4,6,8]
result = map(add_five,num)
print(list(result))

[7, 9, 11, 13]

#  What is `filter()` in Python?

## Purpose
The `filter()` function is used to **filter out elements** from an iterable (like a list, tuple, etc.) **based on a condition**. It returns only those elements for which the condition is **True**.

---

## Syntax

```python
filter(function, iterable)

In [ ]:
def is_even(x):
  return x%2==0
num = [1,2,3,4,5,6,7,8,9,10]
result = filter(is_even,num)
print(list(result))

[2, 4, 6, 8, 10]

In [ ]:
num = [5,10,15,20]
greater_than_10 = filter(lambda x:x<10,num)
print(list(greater_than_10))

[5]

any() ------> At least one element should be true
all() ------> All elements should be true

In [ ]:
values = [True, True, True]
print(all(values))

True

In [ ]:
form_data = ["Salman","","dev@gmail.com"]
if all(form_data):
  print("Form Submitted Successully")
else:
  print("Please Fill all the Fields")

Please Fill all the Fields

In [ ]:
name = "S"
print(name.isupper())
print(name.islower())

True
False

In [ ]:
password = input("Enter Your Password: ")
rules =[
    any(char.isupper() for char in password),
    any(char.islower() for char in password ),
    any(char.isdigit() for char in password),
    any(char in "!@#$%^&*" for char in password),

]
if all(rules):
  print("Password is valid")
else:
  print("Password is not valid")

Enter Your Password: Alam@123
Password is valid

# reversed()

In [ ]:
nums = [1,2,3,4,5,6]
rev = reversed(nums)
print(list(rev))

[6, 5, 4, 3, 2, 1]

In [ ]:
nums = [3,2,1,5,10,11,2]
rev = reversed(nums)
print(list(rev))

[2, 11, 10, 5, 1, 2, 3]

#  What is `sorted()` in Python?

##  Purpose
The `sorted()` function is used to **sort elements** of any iterable (like a list, tuple, set, etc.) in **ascending or descending order**. It does **not modify the original data** â€” instead, it returns a **new sorted list**.

---

##  Syntax

```python
sorted(iterable, key=None, reverse=False)
```

In [2]:
nums = [4,2,9,1]
print(sorted(nums))

[1, 2, 4, 9]

## Descending order

In [ ]:
names = ["Zara","Ali","Salman"]
print(sorted(names,reverse=True))

['Zara', 'Salman', 'Ali']