variables
Data type
int       whole
float     3.3
str       "lkhlkh@123"
bool       true/false

In [ ]:
name = "ali"
rollno = 12
gpa = 3.2
isgraduated = True

In [ ]:
type(isgraduated)

bool

In [ ]:
print("Hello world")

Hello world

In [ ]:
name = input("enter your name")
print("hello",name)

enter your namesalman
hello salman

In [ ]:
age = int(input("enter your age"))
print("your age is",age)
nationality = "pak"
if  nationality != "pak":
    print("you are eligible")
else:
    print("you are not eligible")

enter your age17
your age is 17
you are eligible

# Operators in Python
## Arithmetic Operators
* + , - , *, / , //
# Comparison Operators
* == , != , > ,< , >= , <=\
# Logical Operators
and , or , not

In [ ]:
age = 101
if age >= 18 and age < 100:
  print("You can vote")
else:
  print("You are not eligible")

You are not eligible

# Primitive Data type
## Store single data
* int
* float
* str
* boolean
# Non Primitive Data type
## Store multiple data
* list
### (ordered, mutable)
#### fruit= ["apple","banana","orange"]
#### fruit[0 = apple, 1= banana, 2= orange]
#### print(fruit[0]) # apple
* tuple
### (order, immutable)
#### color = ("red","blue","black")
* set
### (unorder, unique)
#### nums = {1,2,5,3,9,6,2}
* dict
#### (key values pairs )
##### dict1 = {"name":"ali","rollno":205"}

In [ ]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [ ]:
li[4] = 10
print(li)

[1, 2, 3, 4, 10]

In [ ]:
li.append(20)
print(li)

[1, 2, 3, 4, 10, 20]

In [ ]:
tp = (2,4,667,34,2)
print(tp)

(2, 4, 667, 34, 2)

In [ ]:
tp[0] = 10
print(tp)

TypeError: 'tuple' object does not support item assignment

In [ ]:
st = {1 , 3, 5, 7, 3,9,4,7}
print(st)

{1, 3, 4, 5, 7, 9}

In [ ]:
dict1 = {"name":"ali","rollno":205}
print(dict1["name"])

ali

In [ ]:
dict1 ={"001agr2021":{"name":"ali","rollno":205},
       "002agr2021":{"name":"salman","rollno":204,"GPA":3.13}}

print(dict1["002agr2021"])

{'name': 'salman', 'rollno': 204, 'GPA': 3.13}

In [ ]:
colors = ["red","green","blue","black"]
for i in colors:
  print(i)

red
green
blue
black

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

# Loops
## to repeat block of code
### types of loops in python
* for loop
#### you know how many time to repeat
#### for i in range(1,10-1)
* while
#### repeat until the condition is true / met
#### while condition is true:
    print("hello world")

In [ ]:
for i in range(1,10):
  print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [ ]:
count = 5
while count <= 10:
  print(count,"Hello world")
  count = count + 1

5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world

In [ ]:
pas = input("Enter your password")
while pas != "admin123":
  print("Incorrect password")
  pas = input("Enter your password")
print("Correct password")

Enter your passwordkhan
Incorrect password
Enter your passwordkhan
Incorrect password
Enter your passwordadmin123
Correct password

In [ ]:
attem = 0
while attem < 3:
  pas = input("Enter your password")
  if pas == "admin123":
    print("Correct password")
    break
  else:
    print("Incorrect password")
    attem = attem + 1

Enter your passwordadmin123
Correct password

In [ ]:
age = 20
if age >= 18:
  print("You are eligible")
else:
  print("You are not eligible")

You are eligible

In [ ]:
marks = int(input("Enter Your marks"))
if marks >= 60:
  print("Grade C")
elif marks >= 70:
  print("Grade B")
elif marks >= 80:
  print("Grade A")
elif marks >= 50:
  print("Grade D")
else :
  print("Grade: Fail")

Enter Your marks90
Grade C

In [ ]:
username = input("Enter your username")
password = input("Enter your password")
if username == "admin" and password == "admin123":
  print("Login successful")
else:
  print("Login failed")

Enter your usernameadmin
Enter your passwordadmin123
Login successful

In [ ]:
4 , 1